<div class="input-container">
    <select name="" id="">
        <option value="" disabled selected>Produto:</option>

        <option *ngFor="let p of produtos" [value]="p.id">
            {{ p.nome }}
        </option>
    </select>

    <select name="" id="">
        <option value="" disabled selected>Movimentação:</option>

        <option value="Entrada">Entrada</option>
        <option value="Entrada">Saída</option>
    </select>

    <app-input placeholder="Quantidade"></app-input>

    <app-button textButton="Cadastrar" variant="secondary"></app-button>
</div>

<app-table [colunas]="colunas" [dados]="movimentacao" [paginacao]="true" [itensPorPagina]="15"></app-table>
