input {
  width: 100%;
  padding: 12px 16px;
  background-color: var(--side-bar-bg);
  color: #ffffff;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input::placeholder {
  color: #888;
}

input:focus {
  outline: none;
  border-color: #f6f3ff;
}
