<div class="input-container" *ngFor="let item of itensVenda | slice:0:1; let i = index ">
    <app-input-select (valorSelecionado)="alterarProduto($event, i)" placeHolder="Selecione um Produto:" [itens]="produtos" labelKey="nome" valueKey="id"></app-input-select>
    <app-input type="number" placeholder="Quantidade" (valorDigitado)="alterarQuantidade($event, i)" ></app-input>

    <app-button [disabled]="!podeAdicionarItem(i)" (click)="abrirModal()" icon="add" variant="secondary"></app-button>
    <app-button (click)="salvarVenda()" [disabled]="!podeAdicionarItem(i)" textButton="Adicionar" variant="primary"></app-button>

    <app-modal title="Adicionar Itens da Venda" [aberto]="mostrarModal" (fechar)="fecharModal()">
        <div class="input-container" *ngFor="let item of itensVenda; let i = index">
            <app-input-select [valorJaSelecionado]="item.idProduto" (valorSelecionado)="alterarProduto($event, i)" placeHolder="Selecione um Produto:" [itens]="produtos" labelKey="nome" valueKey="id"></app-input-select>
            <app-input [valorJaSelecionado]="item.quantidade" (valorDigitado)="alterarQuantidade($event, i)"></app-input>
            <app-button *ngIf="i === itensVenda.length - 1" [disabled]="!podeAdicionarItem(i)" (click)="adicionarLinha()" icon="add" variant="secondary"></app-button>
            <app-button (click)="removerLinha(i)" [disabled]="!podeExcluir" icon="delete" variant="secondary"></app-button>
        </div>
        <app-button (click)="salvarVenda()" textButton="Adicionar" variant="primary"></app-button>
    </app-modal>
</div>

<app-table [colunas]="colunasVenda" [dados]="vendasTabela" [acoes]="{visualizar: true,editar: false,deletar: true}" [paginacao]="true" (visualizarClick)="abrirDetalhes($event)"></app-table>

<app-modal title="Venda" [aberto]="mostrarDetalhes" (fechar)="mostrarDetalhes = false">
    <app-table class="table" [colunas]="colunasItensVenda" [dados]="itensVendaTabela"></app-table>
</app-modal>