button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    /* border: 1px solid #6D54B5; */
    color: white;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-primary {
    border: 1px solid #6D54B5;
    background-color: var(--decoration);
    font-weight: bold;

}

.btn-primary:hover {
    border: 1px solid white;
}

.btn-secondary {
    border: 1px solid white;
    background-color: transparent;
}

.btn-secondary:hover {
    background-color: #1a1a1a;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}