<app-main-layout title="Home">
    <div class="kpi-cards-container">
        <app-cards cardTitle="Saldo Faturado" cardValue="R$10.250,00" icon="attach_money"></app-cards>
        <app-cards cardTitle="Vendas Realizadas" cardValue="R$10.250,00" icon="monitoring"></app-cards>
        <app-cards cardTitle="Ticket Médio" cardValue="R$10.250,00" icon="currency_exchange"></app-cards>
        <app-cards cardTitle="Estoque Crítico" cardValue="R$10.250,00" icon="priority_high"></app-cards>
    </div>
    <div class="dash-container">
        <div class="row1">
            <app-line-chart class="chart line-chart"></app-line-chart>
            <app-bar-chart class="chart bar-chart"></app-bar-chart>
        </div>
        <div class="row2">
            <app-column-chart class="chart"></app-column-chart>
            <app-column-chart class="chart"></app-column-chart>
        </div>
    </div>
</app-main-layout>
