<div class="title">
    <h1>Login Now!</h1>
</div>
<form action="" class="register-form">
    <div class="input-form">
        <app-input placeholder="Email"></app-input>
        <app-input type="Password" placeholder="Password"></app-input>
    </div>

    <app-button routerLink="/dashboard" textButton="Login" variant="primary"></app-button>

    <div class="divider">
        <hr><span>or</span><hr>
    </div>

    <app-button routerLink="/cadastro" textButton="Register now" variant="secondary" (click)="goToRegister()"></app-button>

</form>