*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
  height: 100%;
  margin: 0;
}

:root {
  --bg: #1C1C1E;
  --text: white;
  --card-bg: #242424;
  --side-bar-bg: #242424;
  --border: rgb(66, 66, 66);
  --color-chart: #ffffff;
  --decoration: #9900ff;

}

/* Tema escuro */
/* body.dark {
  --bg: #1C1C1E;
  --text: white;
  --card-bg: #242424;
  --side-bar-bg: #242424;
  --border: rgb(66, 66, 66);
} */

body.light {
  --bg: #f8f8f8;
  --text: #1f1f1f;
  --card-bg: #fafafa;
  --decoration: #8A2BE2;
  --color-chart: #ffffff;
  --border: rgb(66, 66, 66);
}