.kpi-card{
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease;
    /* border: 1px solid var(--border); */
    background-color: var(--card-bg);
}

.kpi-card:hover{
    transform: scale(1.03);
}

.kpi-icon span{
    font-size: clamp(24px, 3vw, 40px);
    color: var(--decoration);
}

.kpi-values{
    margin-left: 20px;
}

.kpi-card p{
    color: var(--text);
    font-size: clamp(12px, 1.2vw, 16px);
}

.kpi-card h1{
    color: var(--text);
    font-size: clamp(16px, 2vw, 20px);
}