<table class="styled-table">

  <thead>
    <tr>

      <th *ngFor="let coluna of colunas">
        {{ coluna.header }}
      </th>

      <th *ngIf="acoes.visualizar || acoes.editar || acoes.deletar">Ações</th>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let item of getDados()">

      <td *ngFor="let coluna of colunas">
        {{ item[coluna.field] }}
      </td>

      <td *ngIf="acoes.visualizar || acoes.editar || acoes.deletar" class="actions">
        <span *ngIf="acoes.visualizar" (click)="visualizar(item)" class="material-symbols-outlined">search</span>
        <span *ngIf="acoes.editar" (click)="editar(item)" class="material-symbols-outlined">edit</span>
        <span *ngIf="acoes.deletar" (click)="deletar(item)" class="material-symbols-outlined">delete</span>
      </td>

    </tr>

  </tbody>
</table>

<div *ngIf="paginacao" class="pagination">

  <app-button (click)="paginaAnterior()" textButton="Anterior" variant="secondary"
    [disabled]="paginaAtual === 1"></app-button>

  <span>Página {{ paginaAtual }}</span>

  <app-button (click)="proximaPagina()" textButton="Próxima" variant="secondary"
    [disabled]="paginaAtual === getTotalPaginas()"></app-button>

</div>